@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.Header{
    display: flex;
}

#img{
    padding-left: 50px;
    padding-top:30px;

}

#Headers{
    display: flex;
    margin-left: 55%;
    margin-bottom:10%;
    margin-top:2%;
}

#Headers p{
    padding-left: 6%;
    font-weight: 400;
    font-size: larger;
    font-family: 'Rubik',sans-serif;
}

#Headers p:hover{
    font-weight:500;
}

