@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#Container{
    margin-top: -15%;
    display:flex;
    font-family: 'Rubik',sans-serif;
    font-weight: 600;
    font-size: 25px;
    
}

#Container div{
    padding: 80px;
}

#Container p{
    font-family: 'Rubik',sans-serif;
    font-size: 18px;
    font-weight: 400;
}